<div class="subscription-backdrop" (click)="close()"></div>
<div class="subscription-modal">
  <div *ngIf="visible" class ="subscription-content">
    <label for="sensorSelect">Selecciona un sensor:</label>
    <div class="select-container">
      <select id="sensorSelect" [(ngModel)]="selectedSensorId">
        <option *ngFor="let sensor of sensors" [value]="sensor.id">
          {{ sensor.name }}
        </option>
      </select>
    </div>
    <button (click)="close()">Cerrar</button>
  </div>
</div>
